.hero-section {
  background-image: url('/wall.png'); /* Replace with your image URL */
  height: 90vh;
  background-size: cover;
  background-position: bottom; /* Show the lower part of the image */
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  flex-direction: column;
  
}
* {
  padding: 0;
  margin: 0;
}


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: white;
  font-family: Avenir, Helvetica, sans-serif;
  color: black;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hero-text {
  font-size: 3rem;
  text-align: center;
  color: #252525;
}

.header-container {
  max-height: 10vh;
  height: 10vh;
  background: #252525;
  color: color(srgb 0.68 0.68 0.68);
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
padding-bottom: 0.5rem;
  align-content: center;
}

.header-left {
  float: left;
}

.header-left h1 {
  float: right;
  font-size: 45px;
  font-weight: 400;
}

.header-right {
  float: right;
  
  padding-right:10px;
}

.homeBtn {
  background-color: color(srgb 0.6892 0.718 0.7483);
  border: solid;
  border-width: 3px;
  border-color: rgb(107, 107, 107);
  box-sizing: border-box;
  color: rgb(37, 37, 37);
  cursor: pointer;
  text-align: center;
  touch-action: manipulation;
  padding: 0.4rem;
  font-weight: 200;
}

.homeBtnb {
  margin-right:1rem;;
}

body {
  color: #161418;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  gap: 20px;
  padding: 20px;
  width: 100%;
  flex-grow: 1;
}


.card .cardMain {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding: 1rem;
}

.card hr {
  width: 100%;
  border: none;
  border-bottom: 1px solid #88888855;
  margin-top: 0;
}

.cardMain {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: rgb(176, 183, 191);
}

.card-wrapper {
  text-decoration: none;
  color: inherit;
}


.wrapper {
  width: 900px;
  margin: 0 auto;
  padding: 20px;
  margin-top: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 10px;
}

.img {
  width: 300px; 
  height: auto;
  border-radius: 8px;
  margin-bottom: 15px;
  image-rendering: pixelated; /* Ensures pixelated scaling */
  image-rendering: crisp-edges; /* For better compatibility */
}

.description {
  font-size: 1.1rem;
  margin-bottom: 20px;
  text-align: justify;
}

.stats p {
  font-size: 1rem;
  margin: 5px 0;
}

.stats {
  background-color: #fff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}


.card {
  border-radius: 10px;
  border: 1px solid #ffffff22;
  overflow: hidden;
  background-color: #f9f9f9;
  color: rgb(65, 65, 71);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  overflow: hidden;
  transition: transform 0.25s ease-in-out;
  text-align: center;
  padding: 15px;
}

.card:hover {
  transform: scale(1.025);
}

.card h2 {
  font-weight: 300;
  font-size: 1.5rem;
  margin-top: 10px;
}

.cardImg {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  image-rendering: pixelated; /* Ensures pixelated scaling */
  image-rendering: crisp-edges; /* For better compatibility */
}


.not-found {
  margin: auto;
}